# Lists - Mutable and Heterogenenous DST

### List Declaration and Printing

In [5]:
runs=[100,5,29,82,183]      #Declaration List of integers

In [6]:
runs                        #Accessing list

[100, 5, 29, 82, 183]

In [7]:
n=len(runs)                 #Finding out length of list

In [8]:
n                           #Printing variable n

5

### List Accessing Terminologies

In [13]:
runs[0]

100

In [14]:
runs[1]

5

In [15]:
runs[n]                            # Error as index start from 0, Last element should be n-1.

IndexError: list index out of range

In [16]:
runs[n-1]

183

In [17]:
runs[-1]                      # -1 index is same as n-1

183

In [18]:
runs[-n]                      # index n doesn't work but index -n is working as negative index start from 1.

100

#### 1. Positive Index: Starts with 0 and Ends with N-1.
#### 2. Negative Index: Starts with -1 and Ends with -N.

#### 3. runs[n-1] is same as runs[-1]
#### 4. runs[0] is same as runs[-n]

### Lists Updation

In [19]:
runs

[100, 5, 29, 82, 183]

In [20]:
runs[1]=79                    #updating values of elements

In [21]:
runs

[100, 79, 29, 82, 183]

In [22]:
runs[0]+runs[2]                #adding two elements

129

### Adding Elements to List.
1. append(element)           -> adds element at the end.
2. insert(index, element)    -> adds element at given index
3. extend(new_list)          -> extends existing list by new_list.
4. concatenation(+ Operator) -> adds two lists

In [41]:
a=[45,67,90,101,55,100]
print(f"Before Updation",a)
a.append(82)                                          #append() adds element at the end.
print(f"After updation ",a)

Before Updation [45, 67, 90, 101, 55, 100]
After updation  [45, 67, 90, 101, 55, 100, 82]

In [42]:
a.insert(0,56)
print(f"Inserted 56 element at index 0\na=",a)

Inserted 56 element at index 0
a= [56, 45, 67, 90, 101, 55, 100, 82]

In [43]:
a.insert(6,96)
print(f"Inserted 96 element at index 6\na=",a)

Inserted 96 element at index 6
a= [56, 45, 67, 90, 101, 55, 96, 100, 82]

In [44]:
new_a=[91,110,93]
a.extend(new_a)
print(f"Added new list of 3 elements at the end of existing list\na=",a)

Added new list of 3 elements at the end of existing list
a= [56, 45, 67, 90, 101, 55, 96, 100, 82, 91, 110, 93]

In [45]:
new_a=[1,59,31]
a=a+new_a
print(f"New list after concatenating a and new_a\na=",a)

New list after concatenating a and new_a
a= [56, 45, 67, 90, 101, 55, 96, 100, 82, 91, 110, 93, 1, 59, 31]

### In-Built functions

In [47]:
print(a)

[56, 45, 67, 90, 101, 55, 96, 100, 82, 91, 110, 93, 1, 59, 31]

In [54]:
"""Finding Smallest elements in the list"""
minimum=a[-1]
for i in a:
    if i < minimum:
        minimum = i
print(f"Lowest Score:",minimum)

"""Finding Greatest element in the list"""
maximum=a[0]
for i in a:
    if i > maximum:
        maximum = i
print(f"Highest Score:",maximum)

"""Finding Sum of elements in the list"""
total=0
for ele in a:
    total+=ele
print(f"Total Runs:",total)

count=0
for ele in a:
    count+=1
print(f"Number of Innings: ",count)

avg=total/count
print(f"Batting Average:",avg)

Lowest Score: 1
Highest Score: 110
Total Runs: 1077
Number of Innings:  15
Batting Average: 71.8

### Q. 1) Find the sum of elements present at odd indices.

In [61]:
lst=[1,4,2,8,6,3]
sum=0
n=len(lst)
for i in range(1,n,2):           #Indices we need is odd, hence starting with 1.
    sum+=lst[i]
print(sum)

15

### Q. 2) Find the sum of elements present at odd Positions.

In [63]:
lst=[1,4,2,8,6,3]
sum=0
n=len(lst)
for i in range(0,n,2):           #Positions we need is odd, hence starting with 1.
    sum+=lst[i]
print(sum)

9

In [64]:
a=[3,2,9,7,10,24,56,1,90]
print(a)

[3, 2, 9, 7, 10, 24, 56, 1, 90]

### Q. 3) Even Position elements

In [65]:
a=[3,2,9,7,10,24,56,1,90]
b=[]
n=len(a)
for i in range(0,n):
    if i % 2 == 0:                            #Using if loop on i.
        b.append(a[i])
print(f"Old List",a)
print(f"New List",b)

a1=[3,2,9,7,10,24,56,1,90]
b1=[]
n=len(a1)
for i in range(0,n,2):                         #Using Jump parameter
    b1.append(a[i])
print(f"Old List",a1)
print(f"New List",b1)

Old List [3, 2, 9, 7, 10, 24, 56, 1, 90]
New List [3, 9, 10, 56, 90]
Old List [3, 2, 9, 7, 10, 24, 56, 1, 90]
New List [3, 9, 10, 56, 90]

#### Q. 4) Create a new list of last 5 elements of list a.

In [77]:
a=[3,2,9,7,10,24,56,1,90]
b=[]
n=len(a)
for i in range(n-1,n-6,-1):
    b.append(a[i])
print(f"Elements are added in Reverse Order",b)

a1=[3,2,9,7,10,24,56,1,90]
b1=[]
n=len(a1)
for i in range(n-5,n):
    b1.append(a1[i])
print(f"Elements are added in Actual Order",b1)

Elements are added in Reverse Order [90, 1, 56, 24, 10]
Elements are added in Actual Order [10, 24, 56, 1, 90]

### Q. 5) First 3 Positions

In [82]:
a=[3,2,9,7,10,24,56,1,90]
b=[]
for i in range(0,3):
    b.append(a[i])
print(b)

[3, 2, 9]

### Q. 6) 3rd to 7th Positions. Positions=index+1

In [84]:
a=[3,2,9,7,10,24,56,1,90]
b=[]
for i in range(2,7):
    b.append(a[i])
print(b)

[9, 7, 10, 24, 56]

### Q. 7) Rotate List by 1 Position.

In [156]:
a=[1,2,3,4,5]
n=len(a)
b=a[:n-1]
c=a[-1:]
final=c+b
print(f"Orginal List {a}\nAfter Rotating {final}")

a=[1,2,3,4,5]
print(f"Orginal List {a}")
x=a.pop()
a.insert(0,x)
print(f"After Rotating {a}")

a=[1,2,3,4,5]
print(f"Orginal List {a}")
x=a.remove(5)                               #remove() returns None (absence of value)
a.insert(0,x)                               #so, None value is inserted in original list.
print(f"After Rotating {a}")

Orginal List [1, 2, 3, 4, 5]
After Rotating [5, 1, 2, 3, 4]
Orginal List [1, 2, 3, 4, 5]
After Rotating [5, 1, 2, 3, 4]
Orginal List [1, 2, 3, 4, 5]
After Rotating [None, 1, 2, 3, 4]

### List Slicing

In [103]:
a=[3,2,9,7,10,24,56,1,90]
print(f"a[0:5] =",a[0:5])                  #First 5 elements
print(f"a[0:5] =",a[2:7])                  #Position 3 to 7. Position 3 is Index 2 and Position 7 is Index 6.
b=a[1:3]
print(f"a[1:3] =",b)                       #assigning 2 elements of list a to list b.

n=len(a)
print(f"a[-1:-6:-1] =",a[-1:-6:-1])        #Last 5 elements in reverse order.
print(f"a[n-5:n] =",a[n-5:n])              #Last 5 elements in actual order.

a[0:5] = [3, 2, 9, 7, 10]
a[0:5] = [9, 7, 10, 24, 56]
a[1:3] = [2, 9]
a[-1:-6:-1] = [90, 1, 56, 24, 10]
a[n-5:n] = [10, 24, 56, 1, 90]

### Negative Slicing

In [104]:
a=[3,2,9,7,10,24,56,1,90]
print(a)
print(f"a[-5:-1]=",a[-5:-1])
print(f"a[-7:-4]=",a[-7:-4])

[3, 2, 9, 7, 10, 24, 56, 1, 90]
a[-5:-1]= [10, 24, 56, 1]
a[-7:-4]= [9, 7, 10]

In [108]:
A=[10,20,30,40,50,60,70,80,90,100]
print(f"A[:8] =",A[:8])

A[:8] = [10, 20, 30, 40, 50, 60, 70, 80]

In [111]:
print(f"A[:] =",A[:])

A[:] = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [114]:
print(f"A[7:] =",A[7:])

A[7:] = [80, 90, 100]

In [115]:
print(f"A[-2:-5:-1]",A[-2:-5:-1])

A[-2:-5:-1] [90, 80, 70]

In [116]:
print(f"A[-2:-7] =",A[-2:-7])

A[-2:-7] = []

In [117]:
print(f"A[:-5] =",A[:-5])

A[:-5] = [10, 20, 30, 40, 50]

In [118]:
print(f"A[-2:] =",A[-2:])

A[-2:] = [90, 100]

In [119]:
print(f"A[-8:5] =",A[-8:5])

A[-8:5] = [30, 40, 50]

In [120]:
print(f"A[-8:5:-1] =",A[-8:5:-1])

A[-8:5:-1] = []

In [121]:
print(f"A[3:5] =",A[3:5])

A[3:5] = [40, 50]

In [157]:
lst=[]
random="this is amazing"
lst=random.split(" ")
print(lst)

['this', 'is', 'amazing']

In [158]:
list(random)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', 'm', 'a', 'z', 'i', 'n', 'g']