# Sets - Unordered DST
1. Store Unique values
2. Can't have lists,tuples,dictionaries inside it
3. Can't access elements of set.

In [2]:
s={1,2,3,4,5,1}
print(s)
type(s)

{1, 2, 3, 4, 5}

set

In [8]:
#Black Set declaration
blank_set={}                   #Wrong
print(type(blank_set))

blank_set1=()                  #Wrong
print(type(blank_set1))

blank_set2=set()               #Correct
print(type(blank_set2))

<class 'dict'>
<class 'tuple'>
<class 'set'>

In [9]:
s[0]

TypeError: 'set' object is not subscriptable

### Set Operations

In [16]:
s={1,2,3,3,4,5,6,5,4,3}
print(s)

{1, 2, 3, 4, 5, 6}

In [17]:
s.pop()                           #Removes first element
print(s)

{2, 3, 4, 5, 6}

In [18]:
s.add(7)
print(s)

{2, 3, 4, 5, 6, 7}

In [21]:
s.update((1,2,9,8))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
s.remove(3)
print(s)

{1, 2, 4, 5, 6, 7, 8, 9}

### Given a string, print no of unique characters in it.

In [27]:
string="My name is bhushan"
s=set(string)

In [31]:
print(f"Set of unique characters in string is {s}\nNumber of Unique characters are {len(s)}")

Set of unique characters in string is {'e', ' ', 'M', 'h', 'a', 's', 'b', 'i', 'n', 'm', 'u', 'y'}
Number of Unique characters are 12

### Set Operations
1. Union (A | B) -> All elements from A and B.
2. Intersection (A and B) / (A & B) -> All common elements from A and B.
3. Set Difference (A - B) / (A or B)-(A and B) -> All elements that are in A but not in B.
4. Symmetric Difference (A ^ B) -> All un-common elements from A and B.

In [43]:
A={1,2,3,4,5,6,7}
B={4,5,6,7,8,9,0}

print(f"Set A: {A}\nSet B: {B}")

Set A: {1, 2, 3, 4, 5, 6, 7}
Set B: {0, 4, 5, 6, 7, 8, 9}

In [61]:
#Union -> All elements
print(A | B)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [65]:
#Symmetric Difference -> Un-common elements
print(A ^ B)

{0, 1, 2, 3, 8, 9}

{1, 2, 3}

In [63]:
#Intersection -> Common elements
print(A & B)

{4, 5, 6, 7}

In [67]:
#Set Difference
print(A.difference(B))
print(A - B)
print((A or B)-(A and B))

print(B.difference(A))
print(B - A)
print((B or A)-(B and A))

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{0, 8, 9}
{0, 8, 9}
{0, 8, 9}