In [1]:
fname="Bhushan"
lname="Pawar"

In [3]:
print(f"First Name is '{fname}' and Last Name is '{lname}'")

First Name is 'Bhushan' and Last Name is 'Pawar'

### String Operations

In [5]:
#Concatenation
name=fname+" "+lname
print(f"Name is {name}")

Name is Bhushan Pawar

In [6]:
#Multiplication
fname*5

'BhushanBhushanBhushanBhushanBhushan'

In [7]:
#Comparison
"b" < "c"

True

In [10]:
"B" > "b"               #ASCII value of b is greater than ASCII value of B.

False

In [11]:
ord("B")

66

In [12]:
ord("b")

98

In [14]:
"abc" > "adb"           #Lexiographical Order. Firstly it will compare first character of both strings, then second character.

False

In [15]:
"aBc" > "abc"

False

In [16]:
"ABC" < "def"

True

In [21]:
print(f"ASCII of a is {ord('a')}")
print(f"ASCII of z is {ord('z')}")
print(f"ASCII of A is {ord('A')}")
print(f"ASCII of Z is {ord('Z')}")

ASCII of a is 97
ASCII of z is 122
ASCII of A is 65
ASCII of Z is 90

In [25]:
for i in range(97,123):
    print(f"ASCII of {chr(i)} is {i}")

ASCII of a is 97
ASCII of b is 98
ASCII of c is 99
ASCII of d is 100
ASCII of e is 101
ASCII of f is 102
ASCII of g is 103
ASCII of h is 104
ASCII of i is 105
ASCII of j is 106
ASCII of k is 107
ASCII of l is 108
ASCII of m is 109
ASCII of n is 110
ASCII of o is 111
ASCII of p is 112
ASCII of q is 113
ASCII of r is 114
ASCII of s is 115
ASCII of t is 116
ASCII of u is 117
ASCII of v is 118
ASCII of w is 119
ASCII of x is 120
ASCII of y is 121
ASCII of z is 122

In [26]:
for i in range(65,91):
    print(f"ASCII of {chr(i)} is {i}")

ASCII of A is 65
ASCII of B is 66
ASCII of C is 67
ASCII of D is 68
ASCII of E is 69
ASCII of F is 70
ASCII of G is 71
ASCII of H is 72
ASCII of I is 73
ASCII of J is 74
ASCII of K is 75
ASCII of L is 76
ASCII of M is 77
ASCII of N is 78
ASCII of O is 79
ASCII of P is 80
ASCII of Q is 81
ASCII of R is 82
ASCII of S is 83
ASCII of T is 84
ASCII of U is 85
ASCII of V is 86
ASCII of W is 87
ASCII of X is 88
ASCII of Y is 89
ASCII of Z is 90

In [28]:
ord('1')

49

In [30]:
ord('9')

57

In [31]:
ord('0')

48

### Given a string, print each character in space seperated.

In [33]:
string=input("Enter a string: ")
for i in string:
    print(f"{i}",end="  ")

Enter a string: Bhushan
B  h  u  s  h  a  n

### Print first and Last Character of given string.

In [37]:
print(f"First Character of '{string}' is '{string[0]}' and Last Character is '{string[-1]}'")

First Character of 'Bhushan' is 'B' and Last Character is 'n'

### String Formatting

In [44]:
fname="Bhushan"
lname="Pawar"
print("First Name is ",fname,"and Last Name is ",lname)
print("First Name is '{}' and Last Name is '{}'".format(fname,lname))
print(f"First Name is '{fname}' and Last Name is '{lname}'")

First Name is  Bhushan and Last Name is  Pawar
First Name is 'Bhushan' and Last Name is 'Pawar'
First Name is 'Bhushan' and Last Name is 'Pawar'

In [47]:
#Reverse of String
string=input("Enter a String: ")
print(f"Reversed String is {string[::-1]}")

Enter a String: nikita
Reversed String is atikin

### Given a string, check whether string is palindrome or not?

In [66]:
string=input("Enter a String: ")
reversed_string=string[::-1]
print(f"Reversed String is {reversed_string}")
n=len(string)
for i in range(len(string)):
    if string[i] == reversed_string[i]:
        if i==n-1:
            print("String is Palindrome")
        else:
            continue
    else:
        print("Not a Palidrom String")
        break

Enter a String: nayan
Reversed String is nayan
String is Palindrome

### Given a string, count no of upper case characters in string

In [69]:
string=input("Enter a string: ")
upper_count=0
lower_count=0
for i in string:
    if 90 >= ord(i) >= 65:
        upper_count+=1
    else:
        lower_count+=1
print(f"from {string}, \nNo of Upper Case Characters are {upper_count} whereas \nNo fo Lower Case Characters are {lower_count}")

Enter a string: NayaN
from NayaN,
No of Upper Case Characters are 2 whereas
No fo Lower Case Characters are 3

In [70]:
string=input("Enter a string: ")
upper_count=0
lower_count=0
for i in string:
    if i.isupper() == True:
        upper_count+=1
    else:
        lower_count+=1
print(f"from {string}, \nNo of Upper Case Characters are {upper_count} whereas \nNo fo Lower Case Characters are {lower_count}")

Enter a string: Nayan
from Nayan,
No of Upper Case Characters are 1 whereas
No fo Lower Case Characters are 4

### Take a string as input and convert it into Upper Case.

In [92]:
string=input("Enter a string: ")
new_string=""
for i in string:
    if 65 <= ord(i) <= 90:
        new_string+=i
    elif 97 <= ord(i) <= 122:
        new_string+=chr(ord(i)-32)
    else:
        new_string+=i
print(new_string)

Enter a string: My name is Bhushan
MY NAME IS BHUSHAN

### Convert a list of integers to String. (Note: Integers must lie between 65 to 90 and 97 to 122)

In [79]:
list_a = input("Enter elements separated by space: ").split()
print("List:", list_a)
string=""
for i in list_a:
    string+=chr(int(i))
print(string)

Enter elements separated by space: 66 75 84 69 99
List: ['66', '75', '84', '69', '99']
BKTEc

### Convert a String to list of integers.

In [80]:
string=input("Enter a string of integers: ")
lst=string.split(",")
res=[]
for i in lst:
    res.append(int(i))
print(f"Entered String: {string}\nString Converted to List: {lst}, \nList of Integer: {res}")

Enter a string of integers: 65,95,85,75,48,95
Entered String: 65,95,85,75,48,95
String Converted to List: ['65', '95', '85', '75', '48', '95'],
List of Integer: [65, 95, 85, 75, 48, 95]

### Convert a comma seperated list of strings to single space seperated string.

In [88]:
list_a = input("Enter elements separated by space: ").split()
string=' '.join(list_a)
print(f"String Converted to List: {list_a} {type(list_a)}, \nFinal String: {string} {type(string)}")

Enter elements separated by space: my Name is Bhushan
String Converted to List: ['my', 'Name', 'is', 'Bhushan'] <class 'list'>,
Final String: my Name is Bhushan <class 'str'>