In [1]:
random="My_name_is_Bhushan"            #string is _ separated
list_a=random.split("_")               #Splitting on _ and storing in list

In [2]:
print(list_a)

['My', 'name', 'is', 'Bhushan']

In [3]:
string=' '.join(list_a)                #Re-joining list elements space separated and stored as string

In [4]:
print(string)

My name is Bhushan

### List don't have join attribute.

In [8]:
a=""
list_a=["My","name","is","Bhushan"]               #Splitting on _ and storing in list
list_a.join(",")

AttributeError: 'list' object has no attribute 'join'

### find()

In [9]:
string="This is a random string"
string.find("is")                 #Finding first occurence of 'is'

2

In [10]:
string.find("do")

13

In [11]:
string.find("B")                  #Returns -1 if no such a character or list of characters present.

-1

In [12]:
random="Hello harry"
random.find("h")

6

### replace()

In [13]:
string="My name is Bhushan"
string.replace("Bhushan","Rockstar")

'My name is Rockstar'

In [16]:
string="My name is Bhushan"
string1=string.replace("Bhushan","Rockstar")
print(f"Old String: {string}\nNew String: {string1}")

Old String: My name is Bhushan
New String: My name is Rockstar

### count()

In [19]:
string="Python is easy but Java is not"
string.count("Java")

1

In [20]:
string="Python is easy but Java is not"
string.count("is")

2

### Membership Operator

In [29]:
"This is Amazing" == "Amazing"

False

In [30]:
"Amazing" in "This is Amazing"

True

### Important In-Built functions

In [31]:
"6".isdigit()

True

In [32]:
"a".isdigit()

False

In [42]:
"123".isdigit()

True

In [33]:
"0".isalpha()

False

In [34]:
"f".isalpha()

True

In [43]:
"def".isalpha()

True

In [35]:
"F2".isdigit()

False

In [36]:
"F2".isalpha()

False

In [37]:
"A".islower()

False

In [38]:
"A".isupper()

True

In [39]:
" ".isspace()

True

In [40]:
"_".isspace()

False

In [41]:
"  ".isspace()

True

### Given a space separated string, convert it to underscore separated string.

In [44]:
string=input("Enter a space separted string: ")
list_a=string.split(" ")
"_".join(list_a)

Enter a space separted string: My name is Bhushan

'My_name_is_Bhushan'

In [48]:
string=input("Enter a space separted string: ")
new_string=""
for i in string:
    if i.isspace() == True:
        new_string+="_"
    else:
        new_string+=i
print(new_string)

Enter a space separted string: my name is bhushan
my_name_is_bhushan